# Ignore folders
.idea/

# Environment
.venv/

# Notebook staff
.ipynb_checkpoints/

# Distribution / packaging
dist/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# System
.DS_Store

# Local data file
data/